.menu{
    background:linear-gradient(red,black);
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    
}

.menu li{
    display: inline;
    padding: 16px;
    
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
   
}

.menu li a:hover{
    font-size: 22px;
    
}

.procurar{
    margin-top: 10px;
    width: 20%;
    height: 30px;
}

.btn-pesquise{
    margin-top: 10px;
    width: 5%;
    height: 38px;
    background-color: black;
    color: white;
    border-radius: 5px;
}